/*my css*/
/*softpink background colour, my favourite colour */
body{ background-color: #FFF0F5;
}

/* Navigation Bar*/ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191970;
}
li {
  float: left;
}

li a {
  display: block;
  color: #F0FFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link colour on hover */
li a:hover {
  background-color: #ADD8E6;
}

/* header/ my name */ 
h1{ 
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	font-style: oblique;
	text-align: center;
}
/* Education header */ 
h2{ 
	color: #2F4F4F; 
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
}

/* Work Experience header*/ 
h3{
	color: #2F4F4F;
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
}
/* hobbies header */ 
h4{
	color: #2F4F4F;
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;

/* need a second header style, pick a colour theme, make all headers the same/ asthetically pleasing */
/*paragraphs i would like to have bullet points maybe? */ 
/*  header three include three pictures side by side, picture of snake, picture of hiking and one other */


p{ 
	border: 2px #4682B4; 
	border-radius: 12px;
	padding: 5px;
	font-family: verdana;
	font-size: 20px;
	color: #6A5ACD;
}


