#Horse Riding Fees {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

#Horse Riding Fees td, #Horse Riding Fees th {
  border: 2px solid #ddd;
  padding: 8px;
}

#Horse Riding Fees th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #20B2AA;
  color: #FFFAF0;
}
