<style>
body{ background-color: #FFF0F5;
}
/* header/ my name */ 
h1{ 
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-family: Helvetica, sans-serif;
	font-size: 28px;
	font-style: oblique;
	text-align: center;
}

h2{ 
	color: grey; 
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	
/* need a second header style, pick a colour theme, make all headers the same/ asthetically pleasing */
/*paragraphs i would like to have bullet points maybe? */ 
/*  header three include three pictures side by side, picture of horse, picture of hiking and one other */
p.round1{ 
	border: 2px grey; 
	border-radius: 12px;
	padding: 5px;
	font-family: verdana;
	font-size: 20px;
}

</style>
