/* background colour is consistent with first page*/

body{ background-color: #FFF0F5;
}

/* Navigation Bar*/ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191970;
}
li {
  float: left;
}

li a {
  display: block;
  color: #F0FFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ADD8E6;
}
h1{ 
  color: #008B8B;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
div{ 
  colour: #48D1CC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#HorseRidingFees {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  table-align: center;
}

#HorseRidingFees td, #Horse Riding Fees th {
  border: 2px solid #483D8B;
  padding: 8px;
}

#HorseRidingFees th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: Left;
  background-color: #6495ED;
  color: #FFFAF0;
}
/*Table looking like outdoorsie/rustic colours*/
/*didnt like the look of original colours, changed*/

h2{ 
  color: #008B8B;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p{ 
  color: #4682B4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-side: 17px;
